extends layout

block content

  section.hero.is-primary
    .hero-head
      nav.navbar
        .container.is-max-desktop
          .navbar-brand
            a.navbar-item Sortr.io
            span.navbar-burger(data-target="navbarMenuHeroA")
              span
              span
              span
          #navbarMenuHeroA.navbar-menu
            .navbar-end
              a(href="https://github.com/aschelch/sortr.io").navbar-item Github

    .hero-body
      .container.is-max-desktop.has-text-centered
        h1.title.is-1.mb-6 Sortr.io
        p.subtitle Sort a list by choosing <span class="tag is-white">left</span> or <span class="tag is-white">right</span>

  .container.is-max-desktop.has-text-centered.py-6
    form(action="/sort", method="post") 
      .field 
        label.label Copy/paste a list of items to sort
        textarea.textarea(placeholder="Item A\nItem B\nItem C",name="list",rows=10)
      .field
        button.button.is-medium.is-primary(type="submit") Start sorting
