doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bulma.min.css')
    script(async defer data-website-id="7372482c-4960-45ad-9183-1a8fc0b8cfcf" src="https://stats.aschelch.fr/umami.js")
  body
    block content

    footer.footer.mt-6(style="background-color: #eee")
      .content.has-text-centered
        p <strong>Sortr.io</strong> by <a href="http://aschelch.fr">aschelch</a>. The source code is open source on <a href="https://github.com/aschelch/sortr.io">Github</a>.
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="aschelch" data-color="#22d0b2" data-emoji="" data-font="Lato" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#fff" data-coffee-color="#FFDD00" ></script>


