doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bulma.min.css')
  body
    block content

    footer.footer.mt-6(style="background-color: #eee")
      .content.has-text-centered
        p <strong>Sortr.io</strong> by <a href="http://aschelch.fr">aschelch</a>. The source code is open source on <a href="https://github.com/aschelch/sortr.io">Github</a>.
